@model IEnumerable<Products>
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center mb-4">
            <form method="post">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control h-100" placeholder="What are you looking for?" name="search" />
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-outline-info " value="Search" />
                    </div>
                </div>
            </form>
            <br />
            <br />
            <h2 class="text-center">
                Our <span>products</span>
            </h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a asp-controller="Home" asp-area="Customer" asp-action="Details" asp-route-id="@item.Id" class="option1">
                                    Add To Cart
                                </a>
                                <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="option2">
                                    Details
                                </a>
                            </div>
                        </div>
                        <h6 class="text-dark">
                            @{
                                var ans = (@item.Price / 5) + item.Price;
                            }
                            <span style="text-decoration:line-through">EGP @ans</span>  <span class="text-success">5% OFF</span>
                        </h6>

                        <h6 class="text-danger ">
                            <span>EGP @item.Price</span>
                        </h6>
                        <div class="img-box">
                            <img src="~/@item.Image" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Name
                            </h5>
                          
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">

        //-------------------------
        $(function () {
            var save = `@TempData["save"]`;
            var del = `@TempData["del"]`;
            var edit = `@TempData["ediit"]`;
            var productExist = `@TempData["productIsExist"]`;
            if (save != null && save!="") {
                alertify.success(save);
            }
            if (del != null && del != "") {
                alertify.error(del);
            }
            if (edit != null && edit != "") {
                alertify.success(edit);
            }
            if (productExist != null && productExist != "") {
                alertify.error(productExist);
            }
        })

    </script>
}


